/* The CSS for the main layout*/
* {
  box-sizing: border-box;
}
body {
	max-width: 90%;
	margin: auto;
	background-color: beige;
}
a {
	text-decoration: inherit;
	color: DeepSkyBlue;
}
/* The big dividers */
.logobox {
	width: 32%;
	float: left;
	border: solid;
	height: 70px; /* keeping this and topnav the same height keeps things from getting misaligned */
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
}
.topnav {
	width: 67%;
	float: left;
	background-color: #222;
	height: 70px;
	margin-bottom: 1%;
	margin-top: 1%;
}
.sidebar { /* sidebar */
	width: 32%;
	float: left;
	border: double;
	margin-right: 1%;
	padding: 0 10px;
}
.mainright { /* Main content */
	width: 67%;
	float: left;
	border: dashed;
	padding: 0 10px;
}
/* Main text classes */
.path { /* The "Windows > Users > Add/Remove" thingie */
	width: 100%;
	font-family: Oxanium;
	font-weight: normal;
	text-decoration: none;
	color: gray;
}
/* sidebar classes */


 /* Remove default bullets */
ul, #sidetree {
  list-style-type: none;
}
/* Remove margins and padding from the parent ul */
#sidetree {
  margin: 0;
  padding: 0;
}
/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}
.caret::before {
  content: "\25B6"; /* codepoint for the caret */
  color: black;
  display: inline-block;
  margin-right: 6px;
}
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}
/* Hide the nested list */
.nested {
  display: none;
}
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
} 


/* Topnav classes */
.headerbar{
	list-style-type: none;
	margin: 0px;
}
.headeritem{
	float: right; /* right-aligns but reverses order */
	display: block;
	color: white;
	padding: 18px 16px;
	text-align: center;
	text-decoration: none; /* Makes the link underline not show */
	font-family: Oxanium;
	font-size: 1.6rem;
}
.headeritem:hover {
	background-color: #000;
}