/* The CSS for the main layout*/
* {
  box-sizing: border-box;
}
body {
	max-width: 90%;
	margin: auto;
}

.logobox {
	width: 33%;
	float: left;
	border: solid;
}
.topnav {
	width: 67%;
	float: left;
	border: dotted;
}
.sidebar { /* sidebar */
	width: 33%;
	float: left;
	border: double;
}
.mainright { /* Main content */
	width: 67%;
	float: left;
	border: dashed;
}