<!DOCTYPE html>
<html>
<!-- Article Template -->
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="../../articlestyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <div class="logobox">
	<p>PUT IMAGE HERE</p>
  </div>
  <div class="topnav">
	<ul class="headerbar">
	  <li><a class="headeritem" href="../../Server">Server</a></li>
	  <li><a class="headeritem" href="../../Linux">Linux</a></li>
	  <li><a class="headeritem" href="../../Windows">Windows</a></li> <!-- ../ means go up a level -->
	  <li><a class="headeritem" href="oogle.com">Home</a></li>
	</ul>
  </div>
  
  <iframe class='sidebar' src='../../tree.html'></iframe>
  
  <div class="mainright"> <!-- This is gonna be where all the main content and the header bar sit -->
    <h2 class='path'><a href='../'>Templates</a> > <a href='index.html'>Subfolder</a> > Article</h2>
	<p>textextextet xte xte xte xtte tx te xte xte txte xtte xt extx tte xtete xte xtetx extetx tetxe tx tex tex tet x</p>
  </div>
</body>
</html>