<!DOCTYPE html>
<html>
<!-- Article Template -->
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="../../articlestyle.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <div class="logobox">
	<p>PUT IMAGE HERE</p>
  </div>
  <div class="topnav">
	<ul class="headerbar">
	  <li><a class="headeritem" href="../../Server">Server</a></li>
	  <li><a class="headeritem" href="../../Linux">Linux</a></li>
	  <li><a class="headeritem" href="../../Windows">Windows</a></li> <!-- ../ means go up a level -->
	  <li><a class="headeritem" href="oogle.com">Home</a></li>
	</ul>
  </div>
  
  <iframe class='sidebar' src='../../tree.html'></iframe>
  
  <div class="mainright"> <!-- This is gonna be where all the main content and the header bar sit -->
    <h1 class='path'><a href='../'>Templates</a> > <a href='index.html'>Subfolder</a> > <span id="location">Article</span></h1>
    <hr>
    <h2 id="CompMgmt">Computer Management</h2>
	<p> <!-- 1914 translation of "de Finibus Bonorum et Malorum" by Cicero -->
But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>
  </div>
  <div class="bottomnav"> <!-- A secret bonus menu for mobile users -->
    <ul class="bottombar">
	  <li><a class="bottomitem" href="../../Server">Server</a></li>
	  <li><a class="bottomitem" href="../../Linux">Linux</a></li>
	  <li><a class="bottomitem" href="../../Windows">Windows</a></li>
	  <li><a class="bottomitem" href="oogle.com">Home</a></li>
	</ul>
  </div>
</body>
</html>
